.main__row1__404{
    padding-top: 100px;
    .titulo__404{
        font-size: 250px;
        font-family: $ko;
        color: $colorBlancoTexto;
        justify-content: center;
        align-items: center;
    }
}

.main__row2__404{
    .row1__parrafo{
        text-align: center;
        font-size: 40px;
        color: $colorBlancoTexto;
        font-family: $monse;
    }
}