/* COLORES PRINCIPALES */
$colorNavFoo: #343a40;
$colorSalmon:#F08F8C;
$colorBlancoTexto: #edf0f1;
$colorNegroTexto:#444;
$colorBody:rgb(53, 52, 66);

$monse:'Montserrat', sans-serif;
$ko: 'Koh Santepheap', cursive;


